* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  font-family: "Architects Daughter", cursive;
  font-size: 50px;
  text-align: center;
  color: white;
  background-color: darkcyan;
  padding: 20px;
}
.card-body {
  font-family: "Architects Daughter", cursive;
  font-size: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid blue;
  background-image: url(./Img/nick-hillier-ozKgHSxluxQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.no-results {
  display: block;
  text-align: center;
  align-content: center;
  color: black;
  margin: 0 auto;
}

.truck-logo {
  width: 100px;
  height: 82px;
}

.truck-description {
  padding: 20px;
  font-style: italic;
}

.container {
  display: flex;
  justify-content: flex-start;
}

button {
  margin: 10px;
  width: 100px;
  background-color: aquamarine;
  border-radius: 5px;
  font-style: italic;
}

img {
  margin: 10px;
  margin-top: 20px;
}

#footer {
  text-align: right;
  margin-right: 20px;
}
